:root {
    --primary-color: #05668D;
    --secondary-color: #FDF2AF;
    --accent1-color: #C5BB8C;
    --accent2-color: #427AA1;
    --heading-font: 300;
    font-family: "Winky Sans", sans-serif;
}

head{

    font-family: "Winky Sans", sans-serif;
    font-weight: 800;
    color: var(--accent1-color)
}

header{
    display: grid;
    grid-template: 50% 50% / 200px;

}

header img {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--secondary-color);
}

header nav{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.hero  { 
    grid-row: 1/2;
    /* grid-column: 1; */
    position: relative;
    color: var(--primary-color);
    display: block;
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.hero img{ 
    /* grid-row-start: 1; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-row-end: 3; */
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 50%;

}

.hero p{
    color: var(--primary-color);
}

h1 {
    margin: 50px 700px;
    padding: 1px;
    position: absolute;
    font-family: "Winky Sans", sans-serif;
    font-weight: 300;
    color: var(--primary-color);
    background-color: var(--secondary-color);

}

p{
    font-family: "Winky Sans", sans-serif;
    font-weight: 300;
    color: var(--primary-color)
}

.hero article img{
    float: right;
    opacity: 100%;
    width: 200px;
    position: relative;
    margin: 50px;

}

.middle {
    grid-row: 2/3;
    /* grid-column: 2; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* position: absolute; */
    width: 100%;
    opacity: 100%;
    color: var(--primary-color);

}

.history {
    opacity: 100%;
    color: var(--primary-color);
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 1;
    margin: 170px;
}

.right {
    color: var(--primary-color);
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 1;
    grid-row-end: 2;
}

.left {
    color: var(--primary-color);
    grid-column-start: 3;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    padding: 10px;
}

.middle img {
    color: var(--primary-color);
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    width: 100%;
    height: auto;
    float: right;
}

article {
    margin: 100px 50px;
    padding: 10px;
    background-color: var(--secondary-color);
    opacity: 100%;
    position: absolute;
    color: var(--primary-color);
}


.gallery {
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: var(--primary-color);
    
}

.gallery h2{
    color: var(--primary-color);
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 2;
}

.gallery img{
    width: 100%;
    height: auto;
    /* position: relative; */
    opacity: 100%;
    /* display: flex; */
    /* flex-direction: row; */
}

figure {
    color: var(--primary-color);
    
}

.one img{
    color: var(--primary-color);
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 1;
    grid-row-end: 2;

}

.two img{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
}

.three img{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
}

.four img{
    grid-column-start: 4;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 2;
}

.five img{
    grid-column-start: 5;
    grid-row-start: 2;
    grid-column-end: 5;
    grid-row-end: 2;
}

.social-links{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer{
    color: var(--primary-color);
}