:root {
    --primary-color: #05668D;
    --secondary-color: #FDF2AF;
    --accent1-color: #C5BB8C;
    --accent2-color: #427AA1;
    --heading-font: 300;
    font-family: "Winky Sans", sans-serif;
}

head{

    font-family: "Winky Sans", sans-serif;
    font-weight: 800;
    font: var(--accent1-color)
}

header{
    display: grid;
    grid-template: 50% 50% / 200px
}

header img {
    grid-row: 1;
    grid-column: 1;
}

header nav{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    position: absolute;
    font-family: "Winky Sans", sans-serif;
    font-weight: 300;
    font: var(--primary-color)

}

p{
    font-family: "Winky Sans", sans-serif;
    font-weight: 300;
    font: var(--primary-color)
}

.social-links{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hero article{
    position: absolute;
}

 .hero div { 
    position: relative;
    color: var(--primary-color);
    display: block;
}

.hero img{ 
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    float: right;
}

.hero p{
    color: var(--primary-color);
}

.history section{
    display: grid;
    grid-template: 3fr 3fr 3fr / 50% 50%;

}

.history h2{
    grid-row: 1;
    grid-column: 1;
    opacity: 100%;
    color: var(--primary-color);
}

.history p {
    grid-row: 2;
    grid-column: 2;
    color: var(--primary-color);
}

h1 {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
h2{
    color: var(--primary-color);
}

article {
    background-color: var(--secondary-color);
    opacity: 100%;
    position: absolute;
    color: var(--primary-color);
}

article img {
    float: right;
    opacity: 10%;
}

.gallery section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: var(--primary-color);
    
}

.gallery h2{
    color: var(--primary-color);
}

.gallery img{
    width: 10%;
    height: auto;
    position: relative;
    opacity: 100%;
}
figure {
    color: var(--primary-color);
}

.one img{
    grid-column-start: 1;
	grid-row-start: 1;
    color: var(--primary-color);
}

.two img{
    grid-column-start: 2;
	grid-row-start: 1;
}

.three img{
    grid-column-start: 3;
	grid-row-start: 1;
}

.four img{
    grid-column-start: 4;
	grid-row-start: 1;
}

.five img{
    grid-column-start: 5;
	grid-row-start: 1;
}

footer{
    color: var(--primary-color);
}